
@{
    ViewBag.Title = "Connexion à l'extranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AngularJS_CS.ViewModels.LoginViewModel

<link rel="stylesheet/less" href="~/Content/less/login.less">


<div class="col-md-4 col-sm-6">
    <h2>Se connecter</h2>
    <fieldset>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null))
        {
            @Html.TextBoxFor(m => m.UserID, htmlAttributes: new { @class = "form-control", type = "user-identifier", placeholder = "Utilisateur" })
            @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "form-control", type = "password", placeholder = "Mot de passe" })
            <input type="submit" value="Entrer" />
        }

    </fieldset>
</div>
<div id="instructions" class="col-md-6 col-md-offset-1 col-sm-6">
    <h2>Instructions pour vous identifier</h2>

    <p>
        Votre identifiant (accès en haut à droite de la fenêtre principale) est constitué des 4 premiers caractères de votre nom et des 4 premiers caractères de votre prénom <b>tels qu'ils apparaissent sur votre carte d'étudiant</b>, à ceci près qu'ils sont en minuscule.
    </p>
    <p>
        Votre mot de passe, tant que vous ne le changez pas, est votre numéro d'étudiant à l'université Paris Sud 11, tel qu'il figure sur votre carte d'étudiant (attention, pas votre numéro national!!).
    </p>

    <h4>Exemple</h4> Jeanne MARTIN a pour login "martjean".

    <h2>Cas particuliers</h2>
    <ul>
        <li>Si votre nom ou votre prénom comporte moins de 4 lettres, entrez-le en entier.</li>
        <li>Si votre nom comporte des espaces, traits d'union ou apostrophes (y compris en quatrième position), ces caractères font partie de votre login.</li>
        <li>Si votre nom d'usage est différent de votre nom patronymique, c'est votre nom patronymique sur la base duquel est constitué votre login. Jeanne MARTIN épouse DURAND a pour login "martjean".</li>
        <li>Respectez les accents.</li>
    </ul>


    <h4>Exemples</h4>
    <ul>
        <li>
            Jeanne MAR a pour login "marjean"
        </li>
        <li>
            Luc MARTIN a pour login "martluc"
        </li>
        <li>
            Luc Mar a pour login "marluc"
        </li>
        <li>
            Jeanne DE MARTIN a pour login "de mjean"
        </li>
        <li>
            Luc Alphonse MARTIN a pour login "martluc " avec un espace terminal
        </li>
        <li>
            Jeanne Mârtin a pour login "mârtjean"
        </li>
    </ul>

</div>
