@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="banner" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="block">
                    <p>
                        L'école polytechnique de l'université Paris-Sud, dite aussi
                        Polytech Paris-Sud est l'une des 210 écoles d'ingénieurs
                        françaises habilitées à délivrer un diplôme d'ingénieur dans
                        cinq spécialités : électronique, génie électrique, informatique,
                        matériaux et optronique.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-6">
                <div class="block">
                    <h1> Site interne Polytech Paris-Sud</h1>
                    <p> </p>
                    <ul class="download-btn">
                        <li>
                            <a href="~/Account/Index" class="btn btn-default btn-andriod">
                                Se connecter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
