@{
    Layout = null;
    <link rel="stylesheet/less" href="~/Content/less/sidenav.less">  
}

<div id="Overlay" class="overlay" onclick="closeNav()">

</div>

<div id="Sidenav" class="sidenav">
    <section id="message_section">
        <a href="#" >Messages</a>
    </section>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>