@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);

@blue_polytech: #00afec;
@green_psud: #6fbf39;

body {
    font-family: 'Source Sans Pro', sans-serif;
}


#loginZone {
    padding-top: 5px;

    .download-btn {
        li {
            display: inline-block;

            a {
                color: #fff;
                border: none;
                border-radius: 0;
                padding: 2px 6px 3px;
                font-size: 15px;
            }

            .btn-andriod {
                background: @green_psud;
                border: 1px solid transparent;
                -webkit-transition: .2s all;
                -o-transition: .2s all;
                transition: .2s all;

                &:hover {
                    color: @green_psud;
                    background: #fff;
                    border: 1px solid @green_psud;
                }
            }

            .btn-windows {
                background: @blue_polytech;
                border: 1px solid transparent;
                -webkit-transition: .2s all;
                -o-transition: .2s all;
                transition: .2s all;

                &:hover {
                    color: @blue_polytech;
                    background: #fff;
                    border: 1px solid @blue_polytech;
                }
            }
        }
    }
}

@color_1: #ecf0f1;
@color_2: #fff;
@color_3: @green_psud;
@color_4: 10a08 + @color_3;
@font_family_1: Sans-serif;

.login {
    position: relative;
    width: 350px;
    display: none;
    right: 90%;
}

/*.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid @color_1;
    left: 100%;
    position: absolute;
    top: -10px;
}*/

.formholder {
    background: @color_1;
    width: 350px;
    border: solid 1px silver;
    padding-top: 5px;
    position: relative;

    .fieldset {
        border: 1px solid silver;
    }

    input[type="email"] {
        padding: 7px 5px;
        margin: 10px 0;
        width: 100%;
        display: block;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid silver;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;

        &:focus {
            outline: none;
            box-shadow: 0 0 1px 1px @color_3;
        }
    }

    input[type="password"] {
        padding: 7px 5px;
        margin: 10px 0;
        width: 100%;
        display: block;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid silver;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;

        &:focus {
            outline: none;
            box-shadow: 0 0 1px 1px @color_3;
        }
    }

    input[type="submit"] {
        background: @green_psud;
        border: 1px solid transparent;
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all;
        padding: 10px;
        font-size: 20px;
        display: block;
        width: 100%;

        &:hover {
            color: @green_psud;
            background: #fff;
            border: 1px solid @green_psud;
        }
    }
}


.randompad {
    padding: 10px;
}

.green {
    color: @color_3;
}

a {
    color: @color_1;
    text-decoration: none;

    &:hover {
        color: @color_3;
    }
}
